/* blue-bg: #5bc0de
 * blue-border: #46b8da
 * blue-bg-hover: #31b0d5
 * blue-border-hover: #269abc
 *
 * green-bg: #5cb85c
 * green-bg-hover: #449d44
 * green-border: #4cae4c
 * green-border-hover: #398439
 *
 * red-bg: #d9534f
 * red-bg-hover: #c9302c
 * red-border: #d43f3a
 * red-border-hover: #ac2925
 */

* {
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    overflow: hidden;
    background: rgba(0,0,0,.01);;
}

a {
    color: #ccc;
}

a:hover {
    color: #999;
}

#container {
    padding: 5px;
    background-color: #33333a;
    color: #ccc;
    border: 3px #222229 solid;
    border-radius: 5px;
    width: calc(100% - 38px);
    height: calc(100% - 16px);
    position: absolute;
    cursor: default;
}

#container.no-server {
    cursor: wait;
}

#title {
    display: block;
    margin: 0;
    text-align: center;
    text-shadow: 0 1px 1px black;
}

#title > .icon {
    text-shadow: inherit;
}

.row {
    height: 150px;
}

.icon {
    vertical-align: middle;
    font-size: 16pt;
    line-height: 0;
}

button.icon.info, button.icon.reload, #close-window, #minimize-window, #move-window {
    color: #ccc;
    background: none;
    cursor: pointer;
    border: none;
    position: relative;
    width: 18px;
    height: 18px;
    outline: none;
    padding: 0;
    opacity: 1;
    z-index: 2;
}

button.icon.info {
    color: #ccc;
    font-size: 12pt;
    top: -2px;
    left: -7px;
}

button.icon.reload {
    top: -3px;
    left: 7px;
    height: 22px;
    font-size: 24pt;
    color: #ccc;
}

#close-window:hover, #minimize-window:hover {
    opacity: 1;
}

#close-window {
    -webkit-transform: rotate(45deg);
    margin-left: 3px;
}

#close-window:before {
    content: "";
    position: absolute;
    border: 2px solid #ccc;
    width: 10px;
    display: block;
}

#close-window:after {
    content: "";
    position: absolute;
    border: 2px solid #ccc;
    width: 10px;
    display: block;
    -webkit-transform: rotate(90deg);
}

#minimize-window:before {
    content: "";
    border: 2px solid #ccc;
    width: 10px;
    display: block;
    margin: 0 auto;
}

#move-window {
    cursor: move;
}

.button {
    width: calc(100% - 40px);
    height: 50px;
    display: block;
    position: relative;
    margin: 5px auto;
    padding: 0;

    /*border-radius: 15px;
    border-color: #46b8da;
    border-width: 3px;
    border-style: solid;*/
    border: none;
    /*border-radius: 15px;*/

    color: white;
    font-weight: bold;
    background-color: #222229;
    text-shadow: 0px 1px 1px black;

    cursor: pointer;
    outline: none;
    transition: all 0.25s;

    box-shadow: inset 0 2px 5px #050506, 0 1px 1px #44444f;
}

.button:hover, .button:active {
    font-size: 12pt;
}

.button:active {
    box-shadow: inset 0 3px 7px #050506, 0 1px 1px #44444f;
}

.button.icon {
    font-size: 100px;
    width: 100px;
    height: 100px;
}

.button.icon:hover {
}

.button.toggle {
    line-height: 100px;
    text-shadow: 0px 2px 2px black;
}

.button.red {
    color: #d9534f;
}

.button.red:hover, .button.red:active {
    color: #ac2925;
}

.button.green {
    color: #5cb85c;
}

.button.green:hover, .button.green:active {
    color: #398439;
}


.tooltip {
    display: none;
    font-size: 12pt;
    font-weight: normal;
    background: rgba(0, 0, 0, 0.8);
    background: -webkit-linear-gradient(top, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%);
    /*border-radius: 15px;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    z-index: 98;
}

/*.tooltip:before {
    border: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent;
    border-width: 6px 6px 0 6px;
    bottom: -6px;
    content: "";
    left: 50%;
    margin-left: -6px;
    position: absolute;
    z-index: 99;
}*/




.hidden {
    display: none;
}

.shown-inline {
    display: inline;
}

.shown-block {
    display: block;
}

.channel:not(:last-child), .client-list .client:not(:last-child) {
    margin-left: -10px;
    padding-left: 10px;
    /*border-bottom: 3px solid #333;*/
}

.channel:hover, .client-list .client:hover {
    cursor: pointer;
    color: #888;
}

ul.unstyled, ol.unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.inline, ol.inline {
    display: inline;
}

ul.inline > li, ol.inline > li {
    display: inline;
}

ul#channels, ul#clients {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 320px;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    background-color: #222229;
    color: #ccc;
    font-weight: bold;
    box-shadow: inset 0 2px 5px #050506,0 1px 1px #474e5d;
    box-shadow: inset 0 2px 5px #050506,0 1px 1px #44444f;
}

ul#channels::-webkit-scrollbar, ul#clients::-webkit-scrollbar {
    display: none;
}

#more-up {
    position: fixed;
    pointer-events: none;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    margin-left: -10px;
    margin-top: -10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#more-down {
    position: fixed;
    pointer-events: none;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    margin-left: -10px;
    margin-top: 320px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#sides {
    display: none;
    position: fixed;
    pointer-events: none;
    margin-left: -10px;
    width: calc(100% - 38px);
    height: 320px;
    margin-top: -10px;
    box-shadow: 0px 0px 15px 0px black inset;
    border-radius:5px;
}

#header {
    cursor: move;
}

#content {
    /*clear: both;*/
    margin-top: 20px;
}

#window-controls {
    position: absolute;
    left: calc(100% - 21px);
    padding-top: 5px;
}

#window-controls > svg {
    position: absolute;
    top: 0;
    left: -5px;
    width: 25px;
    height: 110px;
    z-index: 1;
}

#container.notifications {
    background: none;
    border: none;
}

#container.notifications:hover {
    background: rgba(0,0,0,0.1);
}

.notifications > .client {
    background: rgba(0,0,0,.3);
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    margin-bottom: 1px;
    font-family: fantasy;
    color: #5bc0de;
    text-shadow: -1px -1px black, -1px 1px black, 1px -1px black, 2px 2px black;
    position: relative;
}

.notifications > .client > span {
    position: absolute;
    top: calc(100% / 2);
    right: 0;
}
